* {
  @include reset-format;
  @include reset-list;
}
body {
  background-color: $bg-color;
}
.cta-btn {
  @include center-content;
  border: none;
  border-radius: 0.125rem;
  padding: 0.3125rem 0.625rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #e9b384;
  color: $font-color-one;
}
.cta-btn:hover {
  transform: translateY(-0.1875rem);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
}

p {
  font-family: "Poppins", sans-serif;
  color: $font-color-one;
  font-weight: 300;
}
