@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin reset-format {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin default-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
