$main-theme-one: #a1ccd1;
$main-theme-one: #f4f2de;
$main-theme-one: #e9b384;
$main-theme-one: #7c9d96;

$theme-one: #00a19d;
$theme-two: #fff8e5;
$theme-three: #ffb344;
$theme-four: #e05d5d;

$first-red-one: #f4e0b9;
$first-red-two: #a8a196;
$first-red-three: #7d7463;
$first-red-four: #fe0000;

$second-red-one: #f5f5f5;
$second-red-two: #f05454;
$second-red-three: #30475e;
$second-red-four: #121212;

$third-red-one: #000000;
$third-red-two: #cf0a0a;
$third-red-third: #dc5f00;
$third-red-four: #eeeeee;

$second-option-one: #fff5eb;
$second-option-two: #deedf0;
$second-option-three: #f4c7ab;
$second-option-four: #b2b8a3;

$third-option-one: #ffffff;
$third-option-two: #f9f6f7;
$third-option-three: #ffe8d6;
$third-option-four: #ff971d;

// whites
$white-bg-one: #fff8f3;
$white-bg-two: #fdf6f0;
$white-bg-three: #fffdf9;
$white-bg-four: #fffdfb;

$font-color-one: #434242;
$font-color-two: #222222;

// smooth scroll, cursor on change on hover of carousel
