.bottom-hero-wrapper {
  background-color: #ccc;
  height: 75vh;
  margin: 2rem 0rem;
  @include default-bg-img;
  background-image: url("../../../assets/woman-on-couch.png");

  .btm-hero-content {
    @include center-content;
    flex-direction: column;
    height: 100%;

    .btm-hero-title {
      font-size: 2.75rem;
      font-family: "Poppins", sans-serif;
      color: $white-bg-four;
      text-align: center;
      font-weight: 200;
    }
  }
}
@media (max-width: 48rem) {
  .bottom-hero-wrapper {
    height: 65vh;
  }
}
