.hero-content-wrapper {
  height: 100%;
  margin-bottom: 2rem;
  .hero-content-left {
    // background-color: $theme-three;
    height: 100%;
    width: 100%;
  }
  .hero-content-right {
    background-color: $theme-one;
    height: 100%;
    width: 100%;
    @include default-bg-img;
    background-image: url("../../../assets/Chancellor-Hotel-j-Union-Square-San-Francisco.png");
  }
}
