.hero-content-wrapper {
  min-height: 75vh;
  margin-bottom: 2rem;
  .hero-content-left {
    @include center-content;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .hero-title {
      font-size: 2.75rem;
      font-family: "Poppins", sans-serif;
      color: $font-color-one;
      text-align: center;
      font-weight: 200;
    }
    .hero-description {
      text-align: center;
    }
  }
  .hero-content-right {
    background-color: $theme-one;
    height: 100%;
    width: 100%;
    min-height: 700px;
    @include default-bg-img;
    background-image: url("../../../assets/Chancellor-Hotel-j-Union-Square-San-Francisco.png");
  }
}
@media (max-width: 36rem) {
  .hero-content-wrapper {
    .hero-content-right {
      min-height: 400px;
    }
  }
}
